<p>dog works!</p>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  이름:<input
    type="text"
    name="name"
    id="name"
    formControlName="upperCase_2"
  /><br /><!--유효성 검사 이름지정-->
  나이:<input
    type="text"
    name="age"
    id="age"
    formControlName="requried_1"
  /><br /><!--유효성 검사 이름지정-->
  종류:<select name="species" id="species">
    <option>선택하세요</option>
    <option>진돗개</option>
    <option>푸들</option>
    <option>치와와</option>
  </select>
  <input type="submit" value="Submit" [disabled]="form.invalid" />
</form>
