<h1>{{ title }}</h1>
<h2>input 실습</h2>
<input type="text" #phone placeholder="phone number" /><!--id지정-->
<button (click)="callPhone(phone.value)">Call</button>

<h2>select 실습</h2>
<select #fruit (change)="change(fruit.value)">
  <option>바나나</option>
  <option>사과</option>
  <option>옥수수</option>
  <option>감자</option>
</select>

<h3>checkbox 실습</h3>
전체:<input type="checkbox" #xxx (click)="check(xxx.checked)" /> <br />
야구:<input type="checkbox" value="야구" [checked]="flag" /><br />
축구:<input type="checkbox" value="축구" [checked]="flag" /><br />
농구:<input type="checkbox" value="농구" [checked]="flag" /><br />
